# Created by https://www.toptal.com/developers/gitignore/api/react,storybookjs
# Edit at https://www.toptal.com/developers/gitignore?templates=react,storybookjs

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### StorybookJs ###
# gitignore template for the Storybook, UI guide for front apps
# website: https://storybook.js.org/

storybook-static/

# End of https://www.toptal.com/developers/gitignore/api/react,storybookjs
apps/storybook/node_modules/react
apps/storybook/node_modules/react-dom
apps/storybook/node_modules/storybook
apps/storybook/node_modules/tailwindcss
apps/storybook/node_modules/.bin/acorn
apps/storybook/node_modules/.bin/browserslist
apps/storybook/node_modules/.bin/esbuild
apps/storybook/node_modules/.bin/rollup
apps/storybook/node_modules/.bin/sb
apps/storybook/node_modules/.bin/storybook
apps/storybook/node_modules/.bin/tsc
apps/storybook/node_modules/.bin/tsserver
apps/storybook/node_modules/.bin/vite
apps/storybook/node_modules/.cache/sb-manager/essentials-actions-2/manager-bundle.js
apps/storybook/node_modules/.cache/sb-manager/essentials-backgrounds-3/manager-bundle.js
apps/storybook/node_modules/.cache/sb-manager/essentials-controls-1/manager-bundle.js
apps/storybook/node_modules/.cache/sb-manager/essentials-measure-6/manager-bundle.js
apps/storybook/node_modules/.cache/sb-manager/essentials-outline-7/manager-bundle.js
apps/storybook/node_modules/.cache/sb-manager/essentials-toolbars-5/manager-bundle.js
apps/storybook/node_modules/.cache/sb-manager/essentials-viewport-4/manager-bundle.js
apps/storybook/node_modules/.cache/sb-manager/links-0/manager-bundle.js
apps/storybook/node_modules/.cache/sb-vite/deps/_metadata.json
apps/storybook/node_modules/.cache/sb-vite/deps/@radix-ui_react-slot.js
apps/storybook/node_modules/.cache/sb-vite/deps/@radix-ui_react-slot.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_addon-essentials_actions_preview.js
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_addon-essentials_actions_preview.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_addon-essentials_backgrounds_preview.js
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_addon-essentials_backgrounds_preview.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_addon-essentials_docs_mdx-react-shim.js
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_addon-essentials_docs_mdx-react-shim.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_addon-essentials_docs_preview.js
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_addon-essentials_docs_preview.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_addon-essentials_highlight_preview.js
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_addon-essentials_highlight_preview.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_addon-essentials_measure_preview.js
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_addon-essentials_measure_preview.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_addon-essentials_outline_preview.js
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_addon-essentials_outline_preview.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_addon-links_preview.js
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_addon-links_preview.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_react_dist_entry-preview__mjs.js
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_react_dist_entry-preview__mjs.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_react_dist_entry-preview-docs__mjs.js
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_react_dist_entry-preview-docs__mjs.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_react.js
apps/storybook/node_modules/.cache/sb-vite/deps/@storybook_react.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-2VTNDAMV.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-2VTNDAMV.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-3FIQ3LPQ.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-3FIQ3LPQ.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-3P6FLJ5E.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-3P6FLJ5E.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-5X33LEM2.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-5X33LEM2.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-7AQ4P7EN.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-7AQ4P7EN.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-34SUFNXB.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-34SUFNXB.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-A5IDJUCV.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-A5IDJUCV.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-BXJT2TY7.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-BXJT2TY7.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-EBHDYQWL.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-EBHDYQWL.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-FD3Q55QC.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-FD3Q55QC.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-GF5JX4LW.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-GF5JX4LW.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-IVG4DR6J.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-IVG4DR6J.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-M4HJOVK2.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-M4HJOVK2.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-NYN7IOPA.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-NYN7IOPA.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-PDLCFT66.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-PDLCFT66.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-PLDDJCW6.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-PLDDJCW6.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-RYZW2XNF.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-RYZW2XNF.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-WK4E5X3F.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-WK4E5X3F.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-Y46WLIMQ.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-Y46WLIMQ.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-Y57D62LL.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-Y57D62LL.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-YXVH4RQ2.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-YXVH4RQ2.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-ZY3OLMM4.js
apps/storybook/node_modules/.cache/sb-vite/deps/chunk-ZY3OLMM4.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/clsx.js
apps/storybook/node_modules/.cache/sb-vite/deps/clsx.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/Color-6VNJS4EI-IFXBOBYO.js
apps/storybook/node_modules/.cache/sb-vite/deps/Color-6VNJS4EI-IFXBOBYO.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/dist-YX4QHLDB.js
apps/storybook/node_modules/.cache/sb-vite/deps/dist-YX4QHLDB.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/DocsRenderer-NNNQARDV-OD5WKEDZ.js
apps/storybook/node_modules/.cache/sb-vite/deps/DocsRenderer-NNNQARDV-OD5WKEDZ.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/formatter-SWP5E3XI-IBTXQKOS.js
apps/storybook/node_modules/.cache/sb-vite/deps/formatter-SWP5E3XI-IBTXQKOS.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/package.json
apps/storybook/node_modules/.cache/sb-vite/deps/prettier_parser-babel.js
apps/storybook/node_modules/.cache/sb-vite/deps/prettier_parser-babel.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/prettier_parser-flow.js
apps/storybook/node_modules/.cache/sb-vite/deps/prettier_parser-flow.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/prettier_parser-typescript.js
apps/storybook/node_modules/.cache/sb-vite/deps/prettier_parser-typescript.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/react_jsx-dev-runtime.js
apps/storybook/node_modules/.cache/sb-vite/deps/react_jsx-dev-runtime.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/react_jsx-runtime.js
apps/storybook/node_modules/.cache/sb-vite/deps/react_jsx-runtime.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/react-dom_client.js
apps/storybook/node_modules/.cache/sb-vite/deps/react-dom_client.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/react-dom.js
apps/storybook/node_modules/.cache/sb-vite/deps/react-dom.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/react-JQOF5OCL.js
apps/storybook/node_modules/.cache/sb-vite/deps/react-JQOF5OCL.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/react.js
apps/storybook/node_modules/.cache/sb-vite/deps/react.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/syntaxhighlighter-MJWPISIS-R6BCOF66.js
apps/storybook/node_modules/.cache/sb-vite/deps/syntaxhighlighter-MJWPISIS-R6BCOF66.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/tailwind-merge.js
apps/storybook/node_modules/.cache/sb-vite/deps/tailwind-merge.js.map
apps/storybook/node_modules/.cache/sb-vite/deps/WithTooltip-V3YHNWJZ-PLH6QNQJ.js
apps/storybook/node_modules/.cache/sb-vite/deps/WithTooltip-V3YHNWJZ-PLH6QNQJ.js.map
apps/storybook/node_modules/.cache/sb-vite-plugin-externals/@storybook/addons.js
apps/storybook/node_modules/.cache/sb-vite-plugin-externals/@storybook/channel-postmessage.js
apps/storybook/node_modules/.cache/sb-vite-plugin-externals/@storybook/channel-websocket.js
apps/storybook/node_modules/.cache/sb-vite-plugin-externals/@storybook/channels.js
apps/storybook/node_modules/.cache/sb-vite-plugin-externals/@storybook/client-api.js
apps/storybook/node_modules/.cache/sb-vite-plugin-externals/@storybook/client-logger.js
apps/storybook/node_modules/.cache/sb-vite-plugin-externals/@storybook/core-client.js
apps/storybook/node_modules/.cache/sb-vite-plugin-externals/@storybook/core-events.js
apps/storybook/node_modules/.cache/sb-vite-plugin-externals/@storybook/global.js
apps/storybook/node_modules/.cache/sb-vite-plugin-externals/@storybook/preview-api.js
apps/storybook/node_modules/.cache/sb-vite-plugin-externals/@storybook/preview-web.js
apps/storybook/node_modules/.cache/sb-vite-plugin-externals/@storybook/store.js
apps/storybook/node_modules/.cache/sb-vite-plugin-externals/@storybook/types.js
apps/storybook/node_modules/.cache/storybook/dev-server/a5a8bf6e622aef57065c6498611f40c911543d7d-43fdebe5fc35e4e9fabee9a83c7faea931b05ea0
apps/storybook/node_modules/.cache/storybook/dev-server/a5a8bf6e622aef57065c6498611f40c911543d7d-64f3ef45467d4722d7a1f900d5dd06071eac4f63
apps/storybook/node_modules/.cache/storybook/dev-server/a5a8bf6e622aef57065c6498611f40c911543d7d-3920d97c51b8ad2521918fb1205babd22b0ed3d7
apps/storybook/node_modules/.cache/storybook/dev-server/a5a8bf6e622aef57065c6498611f40c911543d7d-93474a47203cbfeb58a82ed35a2cf879552ae307
apps/storybook/node_modules/.cache/storybook/dev-server/a5a8bf6e622aef57065c6498611f40c911543d7d-f086b87885981c04ce7a583ff90a49313de83de7
apps/storybook/node_modules/.cache/storybook/public/sb-addons/essentials-actions-2/manager-bundle.js
apps/storybook/node_modules/.cache/storybook/public/sb-addons/essentials-actions-2/manager-bundle.js.LEGAL.txt
apps/storybook/node_modules/.cache/storybook/public/sb-addons/essentials-backgrounds-3/manager-bundle.js
apps/storybook/node_modules/.cache/storybook/public/sb-addons/essentials-backgrounds-3/manager-bundle.js.LEGAL.txt
apps/storybook/node_modules/.cache/storybook/public/sb-addons/essentials-controls-1/manager-bundle.js
apps/storybook/node_modules/.cache/storybook/public/sb-addons/essentials-controls-1/manager-bundle.js.LEGAL.txt
apps/storybook/node_modules/.cache/storybook/public/sb-addons/essentials-measure-6/manager-bundle.js
apps/storybook/node_modules/.cache/storybook/public/sb-addons/essentials-measure-6/manager-bundle.js.LEGAL.txt
apps/storybook/node_modules/.cache/storybook/public/sb-addons/essentials-outline-7/manager-bundle.js
apps/storybook/node_modules/.cache/storybook/public/sb-addons/essentials-outline-7/manager-bundle.js.LEGAL.txt
apps/storybook/node_modules/.cache/storybook/public/sb-addons/essentials-toolbars-5/manager-bundle.js
apps/storybook/node_modules/.cache/storybook/public/sb-addons/essentials-toolbars-5/manager-bundle.js.LEGAL.txt
apps/storybook/node_modules/.cache/storybook/public/sb-addons/essentials-viewport-4/manager-bundle.js
apps/storybook/node_modules/.cache/storybook/public/sb-addons/essentials-viewport-4/manager-bundle.js.LEGAL.txt
apps/storybook/node_modules/.cache/storybook/public/sb-addons/links-0/manager-bundle.js
apps/storybook/node_modules/.cache/storybook/public/sb-addons/links-0/manager-bundle.js.LEGAL.txt
apps/storybook/node_modules/@storybook/addon-essentials
apps/storybook/node_modules/@storybook/addon-links
apps/storybook/node_modules/@storybook/blocks
apps/storybook/node_modules/@storybook/react
apps/storybook/node_modules/@storybook/react-vite
apps/storybook/node_modules/@storybook/testing-library
apps/storybook/node_modules/@tailwindcss/postcss
apps/storybook/node_modules/@treetop-studio/cartridge
packages/core/dist/index.cjs
packages/core/dist/index.d.ts
packages/core/dist/index.js
packages/core/dist/style.css
packages/core/dist/theme-provider-CNMf-QXv.cjs
packages/core/dist/theme-provider-tPSVAIbu.js
packages/core/dist/themes.cjs
packages/core/dist/themes.d.ts
packages/core/dist/themes.js
packages/core/dist/src/index.d.ts
packages/core/dist/src/index.d.ts.map
packages/core/dist/src/components/index.d.ts
packages/core/dist/src/components/index.d.ts.map
packages/core/dist/src/components/Button/Button.d.ts
packages/core/dist/src/components/Button/Button.d.ts.map
packages/core/dist/src/components/Button/index.d.ts
packages/core/dist/src/components/Button/index.d.ts.map
packages/core/dist/src/themes/default.d.ts
packages/core/dist/src/themes/default.d.ts.map
packages/core/dist/src/themes/glassmorphism.d.ts
packages/core/dist/src/themes/glassmorphism.d.ts.map
packages/core/dist/src/themes/index.d.ts
packages/core/dist/src/themes/index.d.ts.map
packages/core/dist/src/themes/retro.d.ts
packages/core/dist/src/themes/retro.d.ts.map
packages/core/dist/src/themes/theme-provider.d.ts
packages/core/dist/src/themes/theme-provider.d.ts.map
packages/core/dist/src/types/index.d.ts
packages/core/dist/src/types/index.d.ts.map
packages/core/dist/src/types/theme.d.ts
packages/core/dist/src/types/theme.d.ts.map
packages/core/dist/src/utils/cn.d.ts
packages/core/dist/src/utils/cn.d.ts.map
packages/core/dist/src/utils/index.d.ts
packages/core/dist/src/utils/index.d.ts.map
